.footerpc {
    background-image: url("/images/footer/Group 828.png");
}

@font-face {
    font-family: 'Mulish-Medium';
    src: url("/Fonts/Mulish-Medium.ttf");
}

.linefooter {
    width: 105vw;
    margin-top: -2%;
    margin-left: -2%;
}

.linkphone {
    display: inline;
}

.logofooter {
    scale: 80%;
    transform: translateX(-20%);
}


.phoneicon {
    width: 15vw;
    scale: 75%;
    transform: translateX(-28%) translateY(-55%);
}

.emailicon {
    width: 20vw;
    scale: 78%;
    transform: translateX(-23%) translateY(-80%);
}

.adressicon {
    width: 20vw;
    scale: 78%;
    transform: translateX(-23%) translateY(-100%);
}

.intro {
    font-family: 'Mitr-Medium', sans-serif;
    /*font-weight: bold;*/
    color: white;
    font-size: 20px;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.5));
}

.intro1 {
    font-family: 'Mulish-Medium', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    filter: drop-shadow(4px 3px 3px rgba(0, 0, 0, 0.5));
}

.intro2 {
    width: 20vw;
}

.contentLeftfooter {
    margin-left: 10%!important;
    margin-top: -3%!important;
    transform: translateX(-20%);
}

.contentMidfooter {
    margin-left: 8%!important;

}

.contentRightFooter {
    transform: translateX(15%);
}

.footermb {
    display: none;
}

@media screen and (max-width: 768px) {
    .footerpc {
        display: none;
    }
    .footermb {
        display: block;
        background-image: url("/images/footer/Group 1269.png");
    }
    .logofootermb {
        width: 45vw;
        margin-left: 5%;
    }
    .linkcontactmb {
        display: flex;
    }
    .phonelogomb {
        width: 45vw;
        margin-left: 12%;
    }
    .maillogomb {
        width: 45vw;
    }
    .linkaddressmb {
        margin-left: 5%;
    }
    .addresslogomb {
        width: 80vw;
    }
    .footerleft {
        width: 45vw;
    }
    .footerright {
        width: 50vw;
    }
    .contentfooter {
        display: flex;
    }
    .leftfootermb {
        /*position: absolute;*/
        /*margin-top: -40%;*/
        margin-left: 6%;
    }
    .rightfootermb {
        /*position: absolute;*/
        margin-top: -1%;
        margin-left: 3%;
    }
    .linefootermb {
        margin-top: -5.5%;
        width: 107vw;
        margin-left: -5%;
    }
}
