.sec2-NM {
    background-color: #F1F1F2;
}

.header1sec2-NM {
    text-align: right;
    font-family: Mitr-SemiBold, sans-serif;
    color: #59843D;
    font-size: 50px;
}

.header2sec2-NM {
    text-align: right;
    font-family: Mitr-SemiBold, sans-serif;
    color: #59843D;
    font-size: 30px;
    margin-top: -3%;
}

.header3sec2-NM {
    text-align: right;
    font-family: Mitr-Regular, sans-serif;
    color: #F79420;
    font-size: 40px;
    margin-top: -3%;
}

.headersec2-NM {
    margin-top: 5%;
}

.imgsec2-NM {
    margin-top: -23%;
    position: absolute;
}

.containersec2-NM {
    padding-top: 2%;
    padding-bottom: 3%;
}

.text-NM {
    margin-top: 90%;
}

.sec2mb-NM {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec2-NM {
        display: none;
    }
    .sec2mb-NM {
        display: block;
        text-align: center;
        justify-content: center;
        background-color: #F1F1F2;
        padding-top: 4%;
        margin-top: -1%;
        padding-bottom: 4%;
    }
    .headersec2-NM {
        margin-top: 5%;
    }
    .header1sec2-NM {
        text-align: center;
        font-size: 30px;
    }

    .header2sec2-NM {
        text-align: center;
        font-size: 22px;
        margin-top: -5%;
    }

    .header3sec2-NM {
        text-align: center;
        font-size: 22px;
        margin-top: -5%;
    }
    .utubesec2mb-NM {
        margin-left: 7%;
    }
}
