.sec3-NM {
    margin-top: 3%;
}

.header1sec3-NM {
    text-align: right;
    font-family: Mitr-Regular, sans-serif;
    color: #F79420;
    font-size: 40px;
    margin-top: 3%;
}

.header2sec3-NM {
    text-align: right;
    font-family: Mitr-SemiBold, sans-serif;
    color: #59843D;
    font-size: 40px;
    margin-top: -3%;
}

.header3sec3-NM {
    text-align: right;
    font-family: Montserrat-Medium, sans-serif;
    color: #F79420;
    font-size: 32px;
    margin-top: -5%;
    font-weight: 800;
}

.sec3mb-NM {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec3-NM {
        display: none;
    }
    .sec3mb-NM {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .header1sec3-NM {
        text-align: center;
        font-size: 22px;
        margin-top: 3%;
        /*margin-left: 15%;*/
    }

    .header2sec3-NM {
        text-align: center;
        font-size: 24px;
        margin-top: 4%;
    }

    .header3sec3-NM {
        text-align: center;
        font-size: 20px;
        margin-top: -5%;
    }
}
