.imgsec4-GT {
    width: 35vw;
    margin-left: 15%;
    height: 80vh;
    margin-top: 5%;
}

.headersec4-GT {
    width: 25vw;
    margin-left: 5%;
    margin-top: -23%;
}

.textsec4-GT {
    width: 35vw;
    font-size: 15px;
    text-align: justify;
    position: absolute;
    margin-left: 56%;
    margin-top: -28%;
}

.sec4mb-GT {
    display: none;
}

.sec4-GT {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec4-GT {
        display: none;
    }
    .sec4-GT-test {
        display: none;
    }
    .sec4mb-GT {
        display: block;
        text-align: center;
        justify-content: center;
    }
    .headersec4mb-GT {
        width: 70vw;
        margin-top: 5%;
    }
    .imgsec4mb-GT {
        width: 90vw;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}

.sec4-GT-test {
    margin-top: 5%;
}

.headersec4-GT-test {
    scale: 60%;
    /*width: 70%;*/
    transform: translateX(-33%);
}

.textsec4-GT-test {
    font-size: 15px;
    text-align: justify;
    font-family: Mulish-SemiBold, sans-serif;
}

.containersec4-GT-test {
    margin-left: 3%;
}


