.sec4-NM {
    display: block;
    text-align: center;
    margin-top: 4%;
}

.header1sec4-NM {
    font-family: Mitr-SemiBold, sans-serif;
    font-size: 40px;
    color: #59843D;
}

.header2sec4-NM {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 32px;
    color: #F79420;
    margin-top: -1.5%;
    font-weight: 800;
}

.containersec4-NM {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    background-image: url("/images/nga-min/sec4/Asset 7.png");
    padding-bottom: 3%;
}

.textsec4-NM {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 18px;
    padding-top: 2%;
    color: white;
}

.slide1-NM {
    padding: 0.5%;
    /*background-color: white;*/
    /*border-radius: 20px;*/
    margin-right: 0.25%;
    margin-left: 0.25%;
    /*height: 300px;*/
    text-align: center;
    justify-content: center;
}

.slide2-NM {
    padding: 0.5%;
    background-color: white;
    border-radius: 20px;
    margin-right: 0.25%;
    margin-left: 0.25%;
    height: 300px;
}

.slide3-NM {
    padding: 0.5%;
    margin-right: 0.25%;
    margin-left: 0.25%;
    background-color: white;
    border-radius: 20px;
    height: 300px;
}

.slide4-NM {
    padding: 0.5%;
    margin-right: 0.25%;
    margin-left: 0.25%;
    background-color: white;
    border-radius: 20px;
    height: 300px;
}

.img1sec4-NM {
    /*margin-left: 25%;*/
    /*margin: auto;*/
    /*margin-bottom: 8%;*/
}

.img2sec4-NM {
    margin: auto;
    margin-bottom: 8%;
}

.img3sec4-NM {
    margin: auto;
    margin-bottom: 8%;
}

.img4sec4-NM {
    margin: auto;
    margin-bottom: 8%;
}

.pre-arrow-NM {
    position: absolute;
    margin-right: 107%;
    background: none;
    border: none;
}

.next-arrow-NM {
    position: absolute;
    margin-left: 107%;
    background: none;
    border: none;
}

.textslidesec4-NM {
    text-align: justify;
    font-size: 15px;
    font-family: Mulish-SemiBold, sans-serif;
}

.sec4mb-NM {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec4-NM {
        display: none;
    }
    .sec4mb-NM {
        display: block;
        justify-content: center;
        text-align: center;
        margin-top: 8%;
    }
    .containersec4-NM {
        padding-bottom: 5%;
    }
    .header1sec4-NM {
        font-size: 23px;
    }

    .header2sec4-NM {
        font-family: Montserrat-Medium, sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin-top: -5%;
    }
    .textsec4-NM {
        text-align: justify;
        font-family: Montserrat-Medium, sans-serif;
        font-size: 18px;
        color: white;
        width: 90%;
        padding-top: 5%;
    }
    .slide1-NM {
        height: 280px;

    }
    .slide2-NM {
        height: 280px;
    }
    .slide3-NM {
        height: 280px;
    }
    .slide4-NM {
        height: 280px;
    }
    .img1sec4-NM {
        width: 40%;
    }
    .img2sec4-NM {
        width: 50%;
    }
    .img3sec4-NM {
        width: 40%;
    }
    .img4sec4-NM {
        width: 50%;
    }
    .pre-arrow-NM {
        scale: 60%;
        margin-right: 117%;
        /*z-index: 10;*/
    }
    .next-arrow-NM {
        scale: 60%;
        margin-left: 115%;
    }
}
