.sec5-GT-test {
    background-image: url("/images/gioi-thieu/sec5/Group 1297.png");
    background-repeat: no-repeat;
    background-size: 100% 85%;
    background-position: center;
    margin-top: -3%;
}

.headersec5-GT {
    margin-right: 5%;
}

.headersec5-GT-test {
    /*width: 80%;*/
    margin-top: 5%;
    scale: 68%;
    transform: translateX(-7%);
}

.bannersec5-GT-test {
    margin-left: 3%;
}

.textsec5-GT {

    font-size: 15px;
    text-align: justify;
    color: white;
    font-family: Mulish-SemiBold, sans-serif;
}

.btn-start-test {
    width: 35%;
    margin-left: 65%;
    margin-top: 5%;
}

.sec5mb-GT {
    display: none;
}

@media screen and (min-width: 1700px) and (max-width: 1920px) {
    .sec5-GT {
        background-position: center top 265px;
    }

    .btn-start {
        margin-top: -35%;
        width: 15vw;
        margin-left: 35%;
    }
}

@media screen and (max-width: 768px) {
    .sec5-GT-test {
        display: none;
    }

    .sec5mb-GT {
        display: block;
        text-align: center;
        justify-content: center;
        background-image: url("/images/gioi-thieu/sec5/Group 1262.png");
        background-size: 100% 100%;
    }

    .headersec5mb-GT {
        width: 55vw;
        margin-top: 3%;
    }

    .textsec5mb-GT {
        width: 90vw;
        margin-left: 5%;
        font-size: 14px;
        text-align: justify;
        font-family: Mulish-SemiBold, sans-serif;
        color: white;
    }
    .texttopsec5mb-GT {
        padding-top: 6%;
    }
    .bannersec5mb-GT {
        width: 90vw;
        margin-bottom: 3%;
        margin-top: -5%;
    }

    .btn-startmb-GT {
        width: 50vw;
        margin-bottom: 5%;
    }
}
