.sec5-NM {
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.text1sec5-NM {
    font-family: Mitr-SemiBold, sans-serif;
    font-size: 40px;
    color: #59843D;
    margin-top: 3%;
}


.text2sec5-NM {
    font-family: Montserrat-Medium, sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #F79420;
    margin-top: -1.5%;
}

.text3sec5-NM {
    width: 70%;
    font-size: 15px;
    font-family: Montserrat-Medium, sans-serif;
    text-align: justify;
    margin: auto;
}

.text4sec5-NM {
    text-align: justify;
    justify-content: right;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 23px;
    margin-bottom: 3%;
    color: #59843D;;
}

.headersec5-NM {
    margin-bottom: 3%;
}

@media screen and (max-width: 768px) {
    .sec5-NM {
        display: none;
    }
    .text1sec5-NM {
        font-size: 23px;
    }
    .text2sec5-NM {
        font-size: 20px;
        margin-top: -6%;
    }
    .text3sec5-NM {
        width: 90vw;
        margin-left: 5%;
        font-size: 14px;
    }
    .text4sec5-NM {
        font-size: 16px;
        /*width: 90%;*/
        margin: auto;
        /*font-size: 18px;*/
        margin-bottom: 3%;
        /*margin-top: -8%;*/
        text-align: justify;
    }
    .imgsec5mb-NM {
        margin-bottom: 5%;
        border-radius: 15px;
    }
}
