.sec5-DL {
    text-align: center;
}

.headersec5-DL {
    /*width: 40vw;*/
    margin-top: 2%;
    scale: 60%;
}

.imgbtn {
    margin-top: 2%;
    border: none;
    outline: none;
    background: none;
    margin-bottom: 3%;
    width: 70vw;
}

.buttonvideo-DL {
    width: 70vw;
    height: 70vh;
}

.sec5mb-DL {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec5-DL {
        display: none;
    }
    .sec5mb-DL {
        display: block;
        text-align: center;
    }
    .headersec5mb-DL {
        width: 65vw;
        margin-top: 5%;
    }
    .utubesec5-DL {
        margin-left: 10%;
        margin-bottom: 7%;
    }
}
