.sec6-NM {
    background-color: #F1F1F2;
    text-align: center;
    padding-top: 2%;
}

.header1sec6-NM {
    font-family: Mitr-Regular, sans-serif;
    font-size: 40px;
    color: #F79420;
}

.header2sec6-NM {
    font-family: Mitr-SemiBold, sans-serif;
    font-size: 50px;
    color: #59843D;
    margin-top: -1.25%;
}

.sec6mb-NM {
    display: none;
}

@media screen and (max-width: 768px) {
    .sec6-NM {
        display: none;
    }
    .sec6mb-NM {
        display: block;
        justify-content: center;
        text-align: center;
        margin-top: 5%;
        background-color: #F1F1F2;
        padding-top: 5%;
    }
    .header1sec6-NM {
        font-size: 22px;
    }

    .header2sec6-NM {
        font-size: 30px;
        margin-top: -5%;
    }
}
