.sec6-NM {
    background-color: #F1F1F2;
    text-align: center;
    padding-top: 4%;
}

.sec8-NM {
    /*background-color: #F1F1F2;*/
    text-align: center;
    /*padding-top: 2%;*/
}

.header1sec6-NM {
    font-family: Montserrat-Medium, sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #F79420;
}

.header2sec6-NM {
    font-family: Mitr-SemiBold, sans-serif;
    font-size: 40px;
    color: #59843D;
    margin-top: -1.25%;
}

.sec6mb-NM {
    display: none;
}

.sec8mb-NM {
    display: none;
}

.buttonvideo-DL-left {
    padding-left: 5%;
    padding-right: 2.5%;
}

.buttonvideo-DL-mid {
    padding-right: 2.5%;
    padding-left: 2.5%;
}

.buttonvideo-DL-right {
    padding-left: 2.5%;
    padding-right: 5%;
}

@media screen and (max-width: 768px) {
    .sec8-NM {
        display: none;
    }
    .sec8mb-NM {
        display: block;
        justify-content: center;
        text-align: center;
        /*margin-top: 5%;*/
        /*background-color: #F1F1F2;*/
        padding-top: 5%;
    }
    .sec6-NM {
        display: none;
    }
    .sec6mb-NM {
        display: block;
        justify-content: center;
        text-align: center;
        /*margin-top: 5%;*/
        background-color: #F1F1F2;
        padding-top: 5%;
    }
    .header1sec6-NM {
        font-size: 20px;
    }

    .header2sec6-NM {
        font-size: 26px;
        /*margin-top: -5%;*/
        line-height: 10px;
        padding-bottom: 3%;
    }
    .header2sec8-NM {
        font-size: 26px;
        /*margin-top: -5%;*/
        line-height: 5px;
        padding-bottom: 3%;
        font-family: Mitr-SemiBold, sans-serif;
        color: #59843D;
    }
}
